@import "../variables.css";

html {
    box-sizing: border-box;
}

button, input {
    box-sizing: border-box;
}

*:after, *:before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    position: relative;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

button {
    font-family: "Open Sans", sans-serif;
}

input {
    font-family: "Open Sans", sans-serif;
}

.wrapper {
    width: 100%;
    background: var(--kantspark-light-gray);
}

.container {
    margin: 0 auto;
    max-width: 1120px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 36px;
}

.header-top__left {
    display: flex;
    justify-content: space-between;
    margin: 0 4px 0 0;
    width: 560px;
    font-size: 12px;
    font-weight: 400;
}

.header-top__left a {
    color: var(--kantspark-black);
}

.header-top__left-location img {
    align-items: center;
    margin: 0 13px 0 0;
    transform: translateY(2px);
}

.header-top__left-informations {
    display: flex;
    align-items: center;
}
.header-top__left-informations-shops {
    flex: 0 0 auto;
    margin: 0 24px 0 0; 
}

.header-top__left-informations-buyers {
    flex: 0 0 auto;
    position: relative;
    margin: 0 44px 0 0; 
}

.header-top__left-informations-buyers::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
    background-color: var(--kantspark-black);
    -webkit-mask-image: url(../img/arrow.svg);
    mask-image: url(../img/arrow.svg);
}


.header-top__left-informations-legal-entities {
    flex: 0 0 auto;
    position: relative;
    margin: 0 24px 0 0; 
}

.header-top__left-informations-legal-entities::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 4px;
    top: 50%;
    right: -11px;
    transform: translateY(-50%);
    background-color: var(--kantspark-black);
    -webkit-mask-image: url(../img/arrow.svg);
    mask-image: url(../img/arrow.svg);
}

.header-top__right {
    flex: 0 0 auto;
    margin: 0 16px 0 0;
}
.header-top__right a{
    font-size: 12px;
    font-weight: 400;
    color: var(--kantspark-gray);
}

.header-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 34px 0 0 0;
    height: 48px;
}

.header-middle__logo {
    margin: 0 46px 0 0;
}

.header-middle form{
    display: flex;
    margin: 0 56px 0 0;
    width: 412px;
    height: 48px;
}

.header-middle form input{
    width: 356px;
    height: 48px;
    padding: 0 0 0 16px;
    border: 1px solid #D5D5D5;
    border-right: 0;
    border-radius: 3px 0 0 3px;
    outline:none;
}

.header-middle form input::placeholder{
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-align: left;
    color: var(--kantspark-black-input);
}

.header-middle form button{
    border: 0;
    border-radius: 0 3px 3px 0;
    width: 56px;
    height: 48px;
    background: var(--kantspark-red);
}

.header-middle__link {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 13px 16px 15px 16px;
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    color: var(--kantspark-black);
}

.header-middle__link:hover {
    background: var(--kantspark-black-opacity-04);
}

.header-middle__link .icon-favorites{
    margin: 0 15px 0 0;
    height: 20px;
    width: 24px;
}

.header-middle__link  .icon-compare {
    margin: 0 12px 0 0;
    height: 24px;
    width: 27px;
}

.header-middle__link .icon-basket {
    margin: 0 14px 0 0;
    height: 21px;
    width: 24px;
}

.header-middle__link-amount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0  0 0 15px;
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background-color: var(--kantspark-red);
    color: var(--kantspark-white);
    font-size: 12px;
}


.header-bottom {
    display: flex;
    justify-content: space-between;
    margin: 28px 0 0 0;
    height: 48px;
    border-radius: 6px;
    overflow: hidden;
    background: var(--kantspark-black-opacity-02);
}

.header-bottom__link {
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 21px 16px 16px;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--kantspark-black);
}

.header-bottom__link img {
    margin: 0 8px 0 0;
    transform: translateY(2px);
}

.header-bottom__line {
    margin: 8px 0 8px 0;
    height: 32px;
    border: 1px solid var(--kantspark-black-opacity-04);
}

.header-bottom__link-catalog {  
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

    background: var(--kantspark-red);
    color: var(--kantspark-white);
}

.header-bottom__link-catalog {
    background: var(--kantspark-red);
    color: var(--kantspark-white);
}

.header-bottom__link-catalog img {
    margin: 0 16px 0 0;
}


