:root {
    --kantspark-light-gray: #F8F8F8;
    --kantspark-very-light-gray :#E5E5E5;
    --kantspark-gray:#696969;
    --kantspark-black: #1D1D1B;
    --kantspark-black-opacity-04: #1D1D1B04;
    --kantspark-black-opacity-02: #1D1D1B02;
    --kantspark-line-gray: #D5D5D5;
    --kantspark-black-input: #00000066;
    --kantspark-red: #E0001B;
    --kantspark-white: #FFFFFF;
}